<html>
  <body>
    <div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img alt="Gist" src="http://i.imgur.com/dcGnzPz.png" height="23.69" width="64.93">
            </a>
          </div>
          <div id="navbar" class="nav navbar-top-links navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="<%= @client_path %>">Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right"><li class=""><a href="#"><i class="fa fa-power-off"> Log Out</i></a>
            </ul>
            <!-- Don't need on this page
            <form class="navbar-form navbar-right hidden-xs" role="form">
              <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form> -->
          
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </div>
      <br>
      <br>
      <br>
      <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-user fa-5x">
                <h1>
                  <%= @client.fname %> <small><%= @client.lname %> </small> 
                  <small><%= link_to 'Edit', edit_client_path(@client) %></small>
                </h1>
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="tabpanel" role="tablist">
                <ul class="nav nav-pills nav-justified fa-ul">
                  <li role="presentation" class="active"><a href="#overview" role="pill" aria-controls="overview" data-toggle="pill"><i class="fa fa-dashboard"></i>Overview</a></li>
                  <li role="presentation"><a href="#info" role="pill" aria-controls="info" data-toggle="pill"><i class="fa fa-info-circle"></i>Info</a></li>
                  <li role="presentation"><a href="#data" role="pill" aria-controls="data" data-toggle="pill"><i class="fa fa-bar-chart"></i>Data</a></li>
                </ul>
              </div>
          </div>
        </div>
              
            <div class="tab-content">
              <div role="pillpanel" class="tab-pane fade in active" id="overview">
                <br>
                <div class="row">
                  <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h2>Bonus <small>Progress</small></h2></div>
                        <div class="panel-body">
                          <p>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="sr-only">45% Complete</span>
                              </div>
                            </div>
                            <h4>Burn 1000 more calories this month to qualify for our January bonus!</h4>
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <!--Info Panel -->
              <br>
                <div role="pillpanel" class="tab-pane fade" id="info">
                  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Contact <small>Me</small></h3></div>
                      <div class="panel-body">
                        <p>
                          <strong>Email:</strong>
                          <%= @client.email %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              
              <!-- Data Panel-->
              <div role="pillpanel" class="tab-pane fade panel panel-default" id="data">
                <br>
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    
                    <!-- Calories Panel -->
                    <div class="panel panel-default">
                      <div class="panel-heading">Calories</div>
                        <div class="panel-body"> fdsagdasgg</div>  
                          <table class="table table-hover table-responsive">
                            <tr>
                              <th>Sunday</th>
                              <th>Monday</th>
                              <th>Tuesday</th>
                              <th>Wednesday</th>
                              <th>Thursday</th>
                              <th>Friday</th>
                              <th>Saturday</th>
                            </tr>
                            <tr>
                              <td>1040</td>
                              <td>560</td>
                              <td>250</td>
                              <td>720</td>
                              <td>860</td>
                              <td>1215</td>
                              <td>1416</td>
                            </tr>
                          </table>
                    </div>
                  </div>
                </div>  
              </div>
            </div> <!-- Tab Contect -->
      </div>   
  </body>
</html>