<!DOCTYPE html>
<html>
<head>
  <title>Seniorproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <div class="notice"><%= notice %></div>
  <div class="alert alert-warning" role="alert"><%= alert %></div>
</footer>
</body>
</html>
